#slider {
  display: block;
  background-color: white;
}
/* BEGIN ACCORDIAN COPY PASTA */
.mb-0 > a {
  display: block;
  position: relative;
}

.mb-0 > a:after {
  position: absolute;
  left:0px;
  content: "\f078"; /* fa-chevron-down */
  font-family: FontAwesome;
}

.mb-0 > a[aria-expanded="true"]:after {
  content: "\f077"; /* fa-chevron-up */
}
/* END ACCORDIAN COPY PASTA */


/* BEGIN BLOG COPY PASTA */
html {
  /*font-family: sans-serif;*/
  background: #eee;
  padding: 1rem;
}

h1, h2, h3, h4, h5, h6 {
  /*font-family: serif;*/
  color: #377ba8;
  margin: 1rem 0;
}

a {
  color: #377ba8;
}

hr {
  border: none;
  border-top: 1px solid lightgray;
}

nav ul li a, nav ul li span, header .action {
  display: block;
  padding: 0.5rem;
}

.content > header {
  border-bottom: 1px solid lightgray;
  display: flex;
  align-items: flex-end;
}

.content > header h1 {
  flex: auto;
  margin: 1rem 0 0.25rem 0;
}

.flash {
  margin: 1em 0;
  padding: 1em;
  background: #cae6f6;
  border: 1px solid #377ba8;
}

input.danger {
  color: #cc2f2e;
}
/* END BLOG COPY PASTA */
