{% macro form(id) -%}
  <form method="post">
    <label for="name">Title</label>
    <input name="name" id="name" value="{{ request.form['name'] }}" required>

    <label for="body">Body</label>
    <textarea name="body" id="body">{{ request.form['body'] }}</textarea>

    <label for="body">Notification</label>
    <!--<textarea name="body" id="body">{{ request.form['body'] }}</textarea>-->

    <label for="body">Repeat</label>
    <!--<textarea name="body" id="body">{{ request.form['body'] }}</textarea>-->

    <label for="body">Start</label>
    <!--<textarea name="body" id="body">{{ request.form['body'] }}</textarea>-->

    <label for="body">End</label>
    <!--<textarea name="body" id="body">{{ request.form['body'] }}</textarea>-->

    <label for="body">tags</label>
    <!--<textarea name="body" id="body">{{ request.form['body'] }}</textarea>-->

    <input type="hidden" id="selected_id" name="parent_id" value={{id}}>
    <input name="trigger" type="submit" value="Save">
  </form>
{%- endmacro -%}

