{% extends 'base.html' %}
{% import 'items/item.html' as citems %}
{% import 'items/creation_form.html' as cform %}

{% block outer %}
  <script src="{{url_for('static', filename='new_item.js')}}"></script>
{% endblock %}

{% block header %}
  <h1>{% block title %}Posts{% endblock %}</h1>
  {% if g.user %}
    <button type="button"
            name="new_item"
            id="None"
            onclick="new_item({{id}})"
            class="btn"
            style="float:right" 
            href="{{url_for('items.create')}}">
      New
    </button>
  {% endif %}
{% endblock %}

{% block content %}
  <div>
    <nav id="slider" style="z-index:50">
      <header>
        <button id="trigger" style="float:right">☰</button>
        <h2>Panel</h2>
      </header>
      {{cform.form("None")}}
    </nav>
    <main id="panel">
      {%- for item in items recursive %}

        {% if item['parent_id'] is none %}
          {{citems.begin_item(item['id']|string, item['name'], "0", True)}}
        {% else %}
          {{citems.begin_item(item['id']|string, item['name'], item['parent_id']|string, True)}}
        {% endif %}

        {{item['body']}}

        {%- if item['children'] -%}
          {{ loop(item['children']) }}
        {%- endif %}

        {{ citems.end_item() }}
      {% endfor %}
    </main>
  <div>

{% endblock %}

