{% macro begin_item(id, name, parent, open) -%}
  <div class="accordian" id={{["accordian",id]|join("-")}}>
    <div class="card">
      <div class="card-header" id={{["heading",id]|join("-")}}>
        <button type="button"
                name="new_item"
                id={{id}}
                onclick="new_item({{id}})"
                class="btn"
                style="float:right" 
                href="{{url_for('items.create')}}">
          New
        </button>
        <a class="collapsed" 
           role="button" 
           data-toggle="collapse" 
           href={{["#collapse",id]|join("-")}} 
           aria-expanded="false" 
           aria-controls={{["collapse",id]|join("-")}}>
          <h5 class="mb-0">
            <p1>
            {{name}}
            </p1>
          </h5>
        </a>
      </div>
      <div id={{["collapse",id]|join("-")}} 
           class="collapse" 
           data-parent={{["#accordian",id]|join("-")}}
           aria-labelledby={{["heading",id]|join("-")}}>
        <div class="card-body"> <!-- override this so all boxes share the same left edge -->
{%- endmacro -%}

{% macro end_item() -%}
        </div>
      </div>
    </div>
  </div>
{%- endmacro -%}
